---
layout: dashboard
---

<div id="referrals" class="wrapper" data-title="Referrals">
  {% include metrics.html dashboard=site.data.dashboard.referrals %}
</div>

<div id="referrals" class="wrapper" data-title="Web and social media">
  {% include metrics.html dashboard=site.data.dashboard.web %}
</div>

<script>
  $(document).ready(function() {
    setInterval(function() {
      $('#referrals').toggleClass('hidden');
      title = $('div:not(.hidden)').data('title')
      $('h1').html(title)
    }, 30000);
  })
</script>
